name: Main - Tests + Docker Publish

on:
  push:
    branches: [ "main" ]

jobs:
  test_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '25'

      - name: Test + Package (auth-service)
        run: |
          cd services/auth-service
          mvn -B test package

      - name: Timestamp tag (yyyymmdd-hhmmss)
        id: ts
        run: echo "TAG=$(date -u +'%Y%m%d-%H%M%S')" >> $GITHUB_OUTPUT

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: ./services/auth-service
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/auth-service:${{ steps.ts.outputs.TAG }}
